{erl_opts, [debug_info]}.
{deps, [
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3"}}},
    {jiffy,   {git, "https://github.com/davisp/jiffy.git",   {tag, "0.15.2"}}}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]}, {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}}, {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.
